{% extends "base.html" %}

{% block content %}
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Nombre</th>
	      <th scope="col">Apellido</th>
	      <th scope="col">Rol</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for empleado in empleados %}
		    <tr>
		      <td>{{empleado.pk}}</td>
		      <td>{{empleado.nombre}}</td>
		      <td>{{empleado.apellido_paterno}}</td>
		      <td>{{empleado.apellido_materno}}</td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table>
{% endblock content %}