{% extends "base.html" %}

{% block content %}
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Nombre</th>
	      <th scope="col">Apellido</th>
	      <th scope="col">Rol</th>
	      <th scope="col">Acción</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for empleado in empleados %}
		    <tr>
		      <td>{{empleado.pk}}</td>
		      <td>{{empleado.nombre}}</td>
		      <td>{{empleado.apellido_paterno}} {% firstof empleado.apellido_materno ''%}</td>
		      <td>{{empleado.rol.nombre}}</td>
		      <td>
		      	<a class="btn btn-info" href="{% url 'empleados_show' pk=empleado.pk %}" role="button"><i class="fas fa-eye"></i> Ver</a>
		      	<a class="btn btn-warning" href="{% url 'empleados_edit' pk=empleado.pk %}" role="button"><i class="fas fa-edit"></i> Editar</a>
		      	<a class="btn btn-danger" href="{%url 'empleados_delete' pk=empleado.pk%}" role="button"><i class="fas fa-trash-alt"></i> Borrar</a>
		      </td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table>
{% endblock content %}